# [dbo].[excise]

In [0]:
USE [allenDB]
GO

In [0]:
/****** Object:  Table [dbo].[excise]    Script Date: 5/24/2021 4:26:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[excise](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[useraccount] [nvarchar](50) NOT NULL,
	[userpassword] [nvarchar](50) NOT NULL,
	[usertelephone] [nvarchar](50) NOT NULL,
	[useremail] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__excise__CBA1B257A3415B92] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[loginsystem]

In [0]:
/****** Object:  Table [dbo].[loginsystem]    Script Date: 5/24/2021 4:26:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loginsystem](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[userpassword] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[excise]

In [0]:
SET IDENTITY_INSERT [dbo].[excise] ON 
INSERT [dbo].[excise] ([userid], [useraccount], [userpassword], [usertelephone], [useremail]) VALUES (1, N'allen', N'123', N'0928767776', N'allen@gmail.com')
INSERT [dbo].[excise] ([userid], [useraccount], [userpassword], [usertelephone], [useremail]) VALUES (3, N'Belle', N'222', N'0923376676', N'Belle@hotmail.com.tw')
INSERT [dbo].[excise] ([userid], [useraccount], [userpassword], [usertelephone], [useremail]) VALUES (4, N'Cindy', N'333', N'0923456676', N'Cindy@hotmail.com.tw')
INSERT [dbo].[excise] ([userid], [useraccount], [userpassword], [usertelephone], [useremail]) VALUES (5, N'Doffy', N'444', N'0922456676', N'Doffy@hotmail.com.tw')
INSERT [dbo].[excise] ([userid], [useraccount], [userpassword], [usertelephone], [useremail]) VALUES (6, N'Elena', N'555', N'0955556676', N'Elena@hotmail.com.tw')
INSERT [dbo].[excise] ([userid], [useraccount], [userpassword], [usertelephone], [useremail]) VALUES (7, N'Fiona', N'666', N'0955656676', N'Fiona@hotmail.com.tw')
INSERT [dbo].[excise] ([userid], [useraccount], [userpassword], [usertelephone], [useremail]) VALUES (8, N'Gina', N'777', N'0977756676', N'Gina@hotmail.com.tw')
SET IDENTITY_INSERT [dbo].[excise] OFF
GO

# [dbo].[loginsystem]

In [0]:
SET IDENTITY_INSERT [dbo].[loginsystem] ON 
INSERT [dbo].[loginsystem] ([userid], [username], [userpassword]) VALUES (1, N'allen', N'0921')
INSERT [dbo].[loginsystem] ([userid], [username], [userpassword]) VALUES (2, N'ray', N'0984')
SET IDENTITY_INSERT [dbo].[loginsystem] OFF
GO

# [UQ__loginsys__F3DBC5728E8385F8]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__loginsys__F3DBC5728E8385F8]    Script Date: 5/24/2021 4:26:29 PM ******/
ALTER TABLE [dbo].[loginsystem] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO