# [dbo].[Department]

In [0]:
USE [ScottPower]
GO

In [0]:
SET IDENTITY_INSERT [dbo].[Department] ON 
INSERT [dbo].[Department] ([deptid], [deptname]) VALUES (1, N'Sales')
INSERT [dbo].[Department] ([deptid], [deptname]) VALUES (2, N'Sales')
INSERT [dbo].[Department] ([deptid], [deptname]) VALUES (3, N'Sales')
INSERT [dbo].[Department] ([deptid], [deptname]) VALUES (4, N'Enginer')
INSERT [dbo].[Department] ([deptid], [deptname]) VALUES (5, N'Engineer')
INSERT [dbo].[Department] ([deptid], [deptname]) VALUES (6, N'RD')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO

# [dbo].[House]

In [0]:
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1001, N'Happy House')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1002, N'Happy House')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1003, N'Happy House')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1004, N'Happy House')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1005, N'Apple House')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1006, N'StoryHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1007, N'HappyHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1008, N'FreakyHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1009, N'WonderfulHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1010, N'FunnyHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1011, N'ActionHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1012, N'GreatHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1013, N'realHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1014, N'ModernHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1015, N'jumpHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1016, N'MorningHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1017, N'MemoryHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1018, N'JumboHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1019, N'TrickyHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1020, N'SmallHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1021, N'LightHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1022, N'stupidHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1023, N'honestHouse')
INSERT [dbo].[House] ([houseid], [housename]) VALUES (1025, N'Rest House')
GO